@inherits ConnectionComponentBase
@inject PrinterStorageProvider PrinterStorage
@inject IAppLocalStorageProvider AppStorage

<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card mb-3">
            <h4 class="card-header">@Localizer[Resources.ControlPanel_Position]</h4>
            <div class="card-body">
                <div class="input-group mb-2">
                    <button class="btn btn-outline-secondary" type="button"
                            title="@Localizer[Resources.ControlPanel_MotorsOff]"
                            disabled="@(!IsConnected)">
                        <i class="bi bi-stop-btn-fill"></i>
                    </button>
                    <span class="input-group-text" title="@Localizer[Resources.ControlPanel_Current]">X: @Telemetry.Position.X.ToString("F2")</span>
                    <span class="input-group-text" title="@Localizer[Resources.ControlPanel_Current]">Y: @Telemetry.Position.Y.ToString("F2")</span>
                    <span class="input-group-text" title="@Localizer[Resources.ControlPanel_Current]">Z: @Telemetry.Position.Z.ToString("F2")</span>
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text">XY:</span>
                    <input type="text" class="form-control" @bind="xySpeed"
                           title="@Localizer[Resources.ControlPanel_Set_XYSpeed]"
                           disabled="@(!IsConnected)">
                    <span class="input-group-text">Z:</span>
                    <input type="text" class="form-control" @bind="zSpeed"
                           title="@Localizer[Resources.ControlPanel_Set_ZSpeed]"
                           disabled="@(!IsConnected)">
                    <span class="input-group-text">mm/min</span>
                </div>
                <div class="d-flex justify-content-center" disabled="@(!IsConnected)">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                            <div class="input-group justify-content-center">
                                <button type="button" class="btn btn-secondary" style="border-bottom-left-radius: 0;" title="@Localizer[Resources.ControlPanel_HomeAll]" @onclick="HomeAllAsync" disabled="@(!IsConnected)"><i class="bi bi-houses"></i></button>
                                <button type="button" class="btn btn-outline-secondary @(ActiveTab == AxisTab.X ? "active" : string.Empty)" @onclick="() => SetAxis(AxisTab.X)">X</button>
                                <button type="button" class="btn btn-outline-secondary @(ActiveTab == AxisTab.Y ? "active" : string.Empty)" @onclick="() => SetAxis(AxisTab.Y)">Y</button>
                                <button type="button" class="btn btn-outline-secondary @(ActiveTab == AxisTab.Z ? "active" : string.Empty)" @onclick="() => SetAxis(AxisTab.Z)">Z</button>
                                <button type="button" class="btn btn-secondary" style="border-bottom-right-radius: 0;" title="@Localizer[Resources.ControlPanel_HomeSelected]" @onclick="async () => await HomeSelectedAxis()" disabled="@(!IsConnected)"><i class=" bi bi-house"></i></button>
                            </div>
                        </div>
                        <div class="input-group mb-2" role="group" aria-label="relative-move">
                            @foreach (var length in moveLenghts)
                            {
                                <button type="button" class="btn btn-outline-secondary" @onclick="async () => await MoveSelectedAxis(length)" disabled="@(!IsConnected)">@(isInverse ? $"-{length}" : $" {length}")</button>
                            }
                            <div class="input-group-text">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="switchReverse" checked="@(isInverse)" @onchange="MotionReversed">
                                    <label class="form-check-label" for="switchReverse">@Localizer[Resources.ControlPanel_Reverse]</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <WebcamPanel />
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card mb-3">
            <h4 class="card-header">@Localizer[Resources.ControlPanel_Heating]</h4>
            <div class="card-body">
                <div class="input-group mb-2">
                     <span class="input-group-text" title="@Localizer[Resources.ControlPanel_Current]">C: @Telemetry.HotendTemp.ToString("F1")</span>
                    <span class="input-group-text" title="@Localizer[Resources.ControlPanel_Target]">T: @Telemetry.HotendTarget.ToString("F1")</span>
                     <input type="number" min="0" max="300" class="form-control" @bind="hotendTarget" @bind:after="SetHotendTempAsync" disabled="@(!IsConnected)">
                    <span class="input-group-text">°C</span>
                    <button class="btn btn-outline-secondary" type="button" title="@Localizer[Resources.ControlPanel_SetHotendTemp]" @onclick="SetHotendTempAsync" disabled="@(!IsConnected)">@Localizer[Resources.ControlPanel_Set]</button>
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text" title="@Localizer[Resources.ControlPanel_Current]">C: @Telemetry.BedTemp.ToString("F1")</span>
                    <span class="input-group-text" title="@Localizer[Resources.ControlPanel_Target]">T: @Telemetry.BedTarget.ToString("F1")</span>
                    <input type="number" min="0" max="120" class="form-control" @bind="bedTarget" @bind:after="SetBedTempAsync" disabled="@(!IsConnected)">
                    <span class="input-group-text">°C</span>
                    <button class="btn btn-outline-secondary" type="button" title="@Localizer[Resources.ControlPanel_SetBedTemp]" @onclick="SetBedTempAsync" disabled="@(!IsConnected)">@Localizer[Resources.ControlPanel_Set]</button>
                </div>
                <div class="input-group">
                    <span class="input-group-text" title="@Localizer[Resources.ControlPanel_Current]">C: @Telemetry.FanSpeed.ToString()</span>
                    <span class="input-group-text">@Localizer[Resources.ControlPanel_FanSpeed]:</span>
                    <input type="text" min="0" max="100" class="form-control" @bind="printSpeed" disabled="@(!IsConnected)">
                    <span class="input-group-text">%</span>
                    <button class="btn btn-outline-secondary" type="button" title="@Localizer[Resources.ControlPanel_Set_FanSpeed]"
                            @onclick="SetFanSpeedAsync" disabled="@(!IsConnected)">
                        @Localizer[Resources.ControlPanel_Set]
                    </button>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <h4 class="card-header">@Localizer[Resources.ControlPanel_Extrude]</h4>
            <div class="card-body">
                <div class="input-group mb-2">
                    <span class="input-group-text">@Localizer[Resources.ControlPanel_Length]</span>
                    <input type="text" class="form-control" @bind="extrudeLength" disabled="@(!IsConnected)">
                    <span class="input-group-text">mm</span>
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text">@Localizer[Resources.ControlPanel_Speed]</span>
                    <input type="text" class="form-control" @bind="extrudeSpeed" disabled="@(!IsConnected)">
                    <span class="input-group-text">mm/min</span>
                </div>
                <div class="d-flex align-items-end">
                    <div class="btn-group ms-auto" role="group">
                        <button type="button" class="btn btn-primary" @onclick="async () => await ExtrudeAsync(extrudeLength)" disabled="@(!IsConnected)">@Localizer[Resources.ControlPanel_Extrude]</button>
                        <button type="button" class="btn btn-primary" @onclick="async () => await ExtrudeAsync(-extrudeLength)" disabled="@(!IsConnected)">@Localizer[Resources.ControlPanel_Reverse]</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <h4 class="card-header">@Localizer[Resources.ControlPanel_Status]</h4>
            <div class="card-body">
                <div class="input-group mb-2">
                    <span class="input-group-text" title="@Localizer[Resources.ControlPanel_Current]">C: @Telemetry.FeedRate.ToString()</span>
                    <span class="input-group-text">@Localizer[Resources.ControlPanel_PrintSpeed]:</span>
                    <input type="text" class="form-control" @bind="printSpeed" @bind:after="UpdatePrintSpeedAsync" disabled="@(!IsConnected)">
                    <span class="input-group-text">%</span>
                    <button class="btn btn-outline-secondary" type="button" disabled>@Localizer[Resources.ControlPanel_Set]</button>
                </div>
                <div class="input-group">
                    <span class="input-group-text" title="@Localizer[Resources.ControlPanel_Current]">C: @Telemetry.FlowRate.ToString()</span>
                    <span class="input-group-text">@Localizer[Resources.ControlPanel_PrintFlow]:</span>
                    <input type="text" class="form-control" @bind="printFlow" @bind:after="UpdatePrintFlowAsync" disabled="@(!IsConnected)">
                    <span class="input-group-text">%</span>
                    <button class="btn btn-outline-secondary" type="button" disabled>@Localizer[Resources.ControlPanel_Set]</button>
                </div>
            </div>
        </div>
        <div class="card">
            <h4 class="card-header">@Localizer[Resources.GCodeCategory_Calibration]</h4>
            <div class="card-body">
                <Calibration />
            </div>
        </div>
    </div>
    <div class="col-12">
        <StorageExplorer Title="Printer storage" Provider="PrinterStorage" TargetProvider="AppStorage" EnableUpload="false" EnableDelete="true" EnableOpen="true" EnableCopy="true" />
    </div>
</div>

@code {
    private int hotendTarget = 0;
    private int bedTarget = 0;
    private int extrudeLength = 5;
    private int extrudeSpeed = 100;
    private int xySpeed = 1000;
    private int zSpeed = 100;
    private int printSpeed = 100;
    private int printFlow = 100;


    private bool isInverse;
    private int[] moveLenghts = { 1, 10, 100, 500 };
    private AxisTab ActiveTab = AxisTab.Y;
    private enum AxisTab { X, Y, Z }

    private void MotionReversed(ChangeEventArgs e)
    {
        // get the checkbox state
        isInverse = e.Value as bool? ?? false;
    }

    private void SetAxis(AxisTab tab)
    {
        ActiveTab = tab;
    }

    private Task HomeAllAsync()
    {
        var printer = PrinterServiceFactory.Current;
        return printer?.Home() ?? Task.CompletedTask;
    }

    private async Task HomeSelectedAxis()
    {
        var printer = PrinterServiceFactory.Current;
        if (printer == null) return;

        switch (ActiveTab)
        {
            case AxisTab.X:
                await printer.Home(true,false, false);
                break;
            case AxisTab.Y:
                await printer.Home(false, true, false);
                break;
            case AxisTab.Z:
                await printer.Home(false, false, true);
                break;
            default:
                return;
        }
    }

    private async Task MoveSelectedAxis(int length)
    {
        var printer = PrinterServiceFactory.Current;
        if (printer == null) return;

        switch (ActiveTab)
        {
            case AxisTab.X:
                await printer.RelativeMove(xySpeed, length, 0, 0);
                break;
            case AxisTab.Y:
                await printer.RelativeMove(xySpeed, 0, length, 0);
                break;
            case AxisTab.Z:
                await printer.RelativeMove(zSpeed, 0, 0, length);
                break;
            default:
                return;
        }
    }

    private Task SetHotendTempAsync()
    {
        var printer = PrinterServiceFactory.Current;
        return printer?.SetHotendTemp(hotendTarget) ?? Task.CompletedTask;
    }

    private Task SetBedTempAsync()
    {
        var printer = PrinterServiceFactory.Current;
        return printer?.SetBedTemp(bedTarget) ?? Task.CompletedTask;
    }

    private Task SetFanSpeedAsync()
    {
        var printer = PrinterServiceFactory.Current;
        return printer?.SetFanSpeed(printSpeed) ?? Task.CompletedTask;
    }

    private Task ExtrudeAsync(int amount)
    {
        var printer = PrinterServiceFactory.Current;
        return printer?.RelativeMove(extrudeSpeed, 0, 0, 0, amount) ?? Task.CompletedTask;
    }

    private Task UpdatePrintSpeedAsync()
    {
        var printer = PrinterServiceFactory.Current;
        return printer?.SetPrintSpeed(printSpeed) ?? Task.CompletedTask;
    }

    private Task UpdatePrintFlowAsync()
    {
        var printer = PrinterServiceFactory.Current;
        return printer?.SetPrintFlow(printFlow) ?? Task.CompletedTask;
    }

    private readonly PrinterTelemetry fallbackTelemetry = new();
    private PrinterTelemetry Telemetry => PrinterServiceFactory.Current?.LastTelemetry ?? fallbackTelemetry;
}
