<div class="col-md-3 col-lg-2 bg-body-secondary sidebar p-0">
    <div class="offcanvas-md offcanvas-end bg-body-tertiary h-100" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
        </div> 
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto h-100"> 
            <ul class="nav flex-column mb-auto pt-3"> 
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> @Resources.PageTitle_Homepage
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="cheatsheet">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> @Resources.PageTitle_GCodeList
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="calculators">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> @Resources.PageTitle_Calculators
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="braillerap">
                        <span class="bi bi-file-earmark-text-nav-menu" aria-hidden="true"></span> @Resources.PageTitle_BrailleRAP
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="files">
                        <span class="bi bi-folder2-open" aria-hidden="true"></span> Files
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="about">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> @Resources.PageTitle_About
                    </NavLink>
                </li>
            </ul> 
            <hr/>
            <div class="nav-item px-3">
                <p class="text-break">@($"v{Version}")</p>
            </div>
        </div> 
    </div>
</div>

@code {
    private string Version = "v0.0.0-alpha";
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        var assembly = Assembly.GetEntryAssembly();
        Version = assembly?.GetName()?.Version?.ToString(3) ?? Version;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
