@page "/calculators"
@inject IStringLocalizer<Resources> localizer

<LocalizedTitle TitleKey="@Resources.PageTitle_Calculators" />

<div class="alert alert-info d-flex justify-content-between align-items-center">
    <p class="mb-0">@localizer[Resources.Calculators_RememberSave]: </p><code>M500</code>
    <button class="btn btn-sm btn-outline-primary action-button"
@*             @onclick="() => ShowCommandDetails(command)" *@>
        <i class="bi bi-play-fill"></i>
    </button>
</div>

<div class="accordion mb-2">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button @(ActiveTab == CalculatorTabs.BeltSteps ? string.Empty : "collapsed")" type="button" @onclick="() => ShowTab(CalculatorTabs.BeltSteps)">
                @CalculatorTabs.BeltSteps.GetLocalizedDisplayName()
            </button>
        </h2>
        <div class="accordion-collapse @(ActiveTab == CalculatorTabs.BeltSteps ? "show" : "collapse")">
            <div class="accordion-body">
                <BeltStepsCalculator />
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button @(ActiveTab == CalculatorTabs.LeadScrewSteps ? string.Empty : "collapsed")" type="button" @onclick="() => ShowTab(CalculatorTabs.LeadScrewSteps)">
                @CalculatorTabs.LeadScrewSteps.GetLocalizedDisplayName()
            </button>
        </h2>
        <div class="accordion-collapse @(ActiveTab == CalculatorTabs.LeadScrewSteps ? "show" : "collapse")">
            <div class="accordion-body">
                <LeadScrewCalculator />
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button @(ActiveTab == CalculatorTabs.ExtruderSteps ? string.Empty : "collapsed")" type="button" @onclick="() => ShowTab(CalculatorTabs.ExtruderSteps)">
                @CalculatorTabs.ExtruderSteps.GetLocalizedDisplayName()
            </button>
        </h2>
        <div class="accordion-collapse @(ActiveTab == CalculatorTabs.ExtruderSteps ? "show" : "collapse")">
            <div class="accordion-body">
                <ExtruderStepsCalculator />
            </div>
        </div>
    </div>
@*     <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button @(ActiveTab == CalculatorTabs.PrintPrice ? string.Empty : "collapsed")" type="button" @onclick="() => ShowTab(CalculatorTabs.PrintPrice)">
                @CalculatorTabs.PrintPrice.GetDisplayName();
            </button>
        </h2>
        <div class="accordion-collapse @(ActiveTab == CalculatorTabs.PrintPrice ? "show" : "collapse")">
            <div class="accordion-body">
                <PrintPriceCalculator />
            </div>
        </div>
    </div> *@
</div>

@code {
	enum CalculatorTabs { 
        [Display(Name = nameof(Resources.Calculators_PrintPrice), ResourceType = typeof(Resources))]
        PrintPrice,
        [Display(Name = nameof(Resources.Calculators_BeltSteps), ResourceType = typeof(Resources))]
        BeltSteps,
        [Display(Name = nameof(Resources.Calculators_LeadScrewSteps), ResourceType = typeof(Resources))]
        LeadScrewSteps,
        [Display(Name = nameof(Resources.Calculators_ExtruderSteps), ResourceType = typeof(Resources))]
        ExtruderSteps
    }

	private CalculatorTabs ActiveTab = CalculatorTabs.BeltSteps;


    private void ShowTab(CalculatorTabs tab)
    {
        ActiveTab = tab;
    }
}
